.topbar {
  @media only screen and (max-width: 1350px) {
    position: relative;
    //margin: auto 10%;
    width: 30%;
  }

  height: 100%;
  width: 30%;
  border-right: solid 0.1px gray;
  position: fixed;

  display: table-cell;
  &__top {
    margin: auto 50%;
    @media only screen and (max-width: 400px) {
      // margin: auto 10%;
      width: 50%;
      margin: auto 50%;
    }
    width: 50%;
    //height: 80%;
  }
  &__top-items {
    padding: 5%;
  }
  &__top-items-button {
    @media only screen and (max-width: 1350px) {
      // width: 50%;
      //margin: auto 50%;
      display: none;
    }
    height: 40px;
    width: 200px;
    color: white;
    font-size: 25px;
    align-content: center;
    font-weight: bold;
    border: none;
    border-radius: 22px;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
  }
  &__bottom {
    @media only screen and (min-width: 1350px) {
      margin: 50% 50%;
    }
    @media only screen and (max-width: 1350px) {
      //  margin: auto 60%;
      width: 50%;
      margin: auto 50%;
    }
    color: white;

    width: 32%;
    @media only screen and (max-width: 1350px) {
      &--items-span-user {
        display: none;
      }
      &--items-span-user2 {
        display: none;
      }
      &--items-image {
        height: 30px;
        width: 30px;
        justify-content: center;
      }
    }

    &--items {
      &:hover {
        border-radius: 40px;
        border: none;
        background-color: rgb(27, 27, 27) !important;
        cursor: pointer;
      }
    }
    &--items-image {
      height: 45px;
      width: 45px;
      margin-top: 3%;
    }
    &--items-span {
      display: inline-block;
      margin: auto 5%;
    }
    &--items-span-user {
      font-weight: 500;
    }
    &--items-span-user2 {
      color: gray;
    }
    &--items-right {
      @media only screen and (max-width: 1350px) {
        display: none;
      }
      display: contents;
    }
  }
}
