.round-button {
  @media only screen and (max-width: 1350px) {
    display: block;
  }
  display: none;
  border-radius: 50%;
  padding: 5px;
  color: white;
  border: none;
  background-color: rgb(29, 155, 240);
  &__image {
    background-color: rgb(29, 155, 240);
  }
}
